/.metadata/
/.classpath
/.settings/org.eclipse.jdt.core.prefs
apigateway/src/main/resources/application.yml
ecommerce/.classpath
ecommerce/.settings/org.eclipse.jdt.apt.core.prefs
ecommerce/.settings/org.eclipse.jdt.core.prefs
.vscode/

